.homepage{
    display: flex;
    //决定主轴的方向
    flex-direction: column;
    //决定在交叉轴上如何对齐
    //这里的情况是水平居中，因为主轴是垂直轴
    align-items: center;
    padding: 20px 80px;
}

.directory-menu{
    width: 100%;
    display: flex;
    //wrap决定当一条轴排不下，该怎么换行
    flex-wrap: wrap;
    //主轴上的对齐方式 space-between是两边对其然后每一个item之间都有间隔
    justify-content: space-between;
}


.menu-item{
    // 确保最小宽度
    min-width: 30%;
    height: 240px;
    display: flex;
    //当第二行有两个item的时候，两个也要1:1
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0 7.5px 15px;

    &:first-child{
        margin-left: 7.5px;
    }

    &:last-child{
        margin-right: 7.5px;
    }

    .content{
        height: 90px;
        padding: 0 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid black;

        .title{
            font-weight: bold;
            margin-bottom: 6px;
            font-size: 22px;
            color: #4a4a4a;
        }

        .subtitle{
            font-weight: ligher;
            font-size: 16px;
        }
    }
}



